<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <%- include("../includes/navbar.ejs") %>
    <div class="div">
     
    </div>
    <div class="About">
      
      <h1>About me</h1>
      <p>
        
        I have worked on Frontend technologies (HTML5, CSS, Bootstrap, JavaScript and other JS libraries) and Backend technologies (Node.js, Express.js, Ejs, ) and MongoDb database for almost a year and have done several projects.
      </p>
      <p>
        Skillful in Java and Data structure and solve 100+ DSA questions
      </p>
      <p>
        
I aspire to a challenging career in software development to expand my skills and experience.
      
      </p>
    </div>

    <%- include("../includes/footer.ejs") %>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>
</body>
</html>