<footer >
    <div class="info">

   
    <div class="f-info-socials">
      <a href="https://github.com/shafinshah"> <i class="fa-brands fa-github"></i></a> 
      <a href="https://www.linkedin.com/in/shafin-shah-3b0677295">  <i class="fa-brands fa-linkedin"></i></a> 
    </div>
    <div>
        &copy;<p style="color: white;">Copyright</p>
    </div>
   
</div>
</footer>